/tts/
__pycache__
roadmap.txt
*.wav
.vscode
backup_files
.ruff_cache
/.venv
/logs
*.ckpt
ncnk.pth
# Local Models
/models/
iic/
microsoft/
FunAudioLLM/
SenseVoiceSmall/
Florence-2-large/
hub/
tts_src/plugins/GPT_Sovits/api_server.py.bak
tts_src/plugins/GPT_Sovits/qwen35_vlm.py
pyproject.toml.bak
requirements.txt.bak
configs/